* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    height: 100vh;
    margin: 10px auto;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

div, a {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: aqua;
    width: 400px;
    height: 200px;
    gap: 10px;
}