#saida {
    display: flex;
    width: 400px;
    height: 400px;
    background-color: #000000;
    border: 1px solid #000000;
}

/* Funciona criando uma classe via JS */
/* #saida.vermelho {
    background-color: #FF0000;
}

#saida.verde {
    background-color: #00FF00;
}

#saida.azul {
    background-color: #0000FF;
} */